img {
  float: left;
  height: 20%;
  width: 20%;
}

.sidebar {
  width: 50%;
  float: right;
  background-color: coral;
  border: 4px solid black;
  margin: 20px;
  padding: 5px;
}

.column {
  width: 200px;
  float: left;
  padding: 30px;
}
