h1 {
  font-family: sans-serif;
  color: white;
}

.column {
  width: 330px;
  float: left;
  padding: 30px;
  margin: 10px;
}

img {
  width: 350px;
  height: 200px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.coral {
  background-color: coral;
}
